body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

img {
    width: 60px;
    height: 60px;
}

button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #cc0000;
}
/* Таблица корзины */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #b67982;
    color: white;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.remove-btn {
    background-color: #b67982;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.remove-btn:hover {
    background-color: #793f3f;
}